body{
  margin:0;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: Arial, sans-serif;
  background: linear-gradient(#ffd1dc, #ff9aa2);
}

.hidden{
  display:none;
}

img{
  max-width:100%;
  border-radius:20px;
  margin:15px 0;
}

button{
  padding:12px 18px;
  border-radius:25px;
  border:none;
  font-weight:bold;
  cursor:pointer;
  margin:5px;
}
